html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  margin-bottom: 160px !important;
}

footer {
  bottom: 0;
  width: 100%;
  height: 120px;
  position: absolute;
  background-color: #212121;
}

.social-links a {
  border-radius: 4px;
  transition: background-color 0.3s;
}

.social-links a:hover {
  text-decoration: none;
  background-color: #404040;
}

.card {
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}

.modal {
  -webkit-overflow-scrolling: touch;
}

#main-loader {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3000;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
}

.spinner-grow {
  top: 34%;
  left: 50%;
  position: absolute;
}
